<div class="card">
  <%= link_to word.title, root_path, class: :card__img %>
  <div class="card__body">
    <%= link_to word.text, root_path, class: :card__title%>
    <p class="card__summary">
      <%= "プロトタイプのキャッチコピー" %>
    </p>
    <%= link_to "by #{word.user.nickname}", root_path, class: :card__user %>
  </div>
</div>
