<main class="main">
  <div class="inner main-inner">
    <%# ログインしているときは以下を表示する %>
      <% if user_signed_in?%>
       <div class="greeting">
         こんにちは、
        <%= link_to "#{current_user.nickname}さん", root_path, class: :greeting__link %>
      </div>
      <% end %>
    

    <div class="word__wrapper">
      <% if @words.empty?  %>
        <h2 class="word index">一致するものは見つかりませんでした。</h2>
      <% else %>
        <h2 class="word index">検索結果</h2>
        <%= render partial: 'word', collection: @words %>
      <% end %>
    </div>
  </div>
  <%= render partial: "layouts/side_ber",locals: { words: @side_words } %>
</main>
