* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style-position:inside;
}

img {
  max-width: 70%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

table{
  display: block;
  overflow: auto;
  margin: 1.5em 0;
  border-left: 1px solid #ddd;
  border-collapse: collapse;
}

th{
  font-weight: bold;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 8px 10px;
}

tr:nth-child(odd){
  background-color: #eee;
}

td{
  border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 8px 10px;
    max-width: 600px;
}

pre, code{
  background-color:  #eee;
  overflow: auto;
  border-radius: 5px;
}

pre{
  overflow: auto;
  padding: 0.5em 10px;
}

/* ヘッダー */

.body{
  background-color: #f7f7f7;
}

.header {
  
  background: linear-gradient(to bottom right, Tomato, Wheat);
  margin-bottom: 48px;
  padding: 20px 0;
}
.inner {
  width: 64%;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 200px;
  font-size: 30px;
  letter-spacing: 0.05em;
  
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #1b0b03;
  text-decoration: none;
  user-select: none;
  border: 1px #1b0b03 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #FF5F17;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #FF5F17;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.new_form{
  width: 100%;
}

.field{
  width: 100%;
  margin: 10px 0;
}

.input-default {
  width: 25vw;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.actions{
  margin:0 50px 40px;
}


.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #FF5F17;
  border: 1px #FF5F17 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}


.title_form{
  width: 100%;
  height: 40px;
  font-size: 17px;
}

.tug_form{
  width: 100%;
  height: 35px;
  font-size: 17px;
}

.text_form{
  width: 100%;
  height: 500px;
  font-size: 20px;
  color: black;
}


.nav_edit{
  padding: 1em 1em;
  font-size: 0.8em;
  color: #9b9b9b;
  text-decoration: none;
}

.preview{
  margin:4px;
  width:45%;
  height:500px;
  border:1px solid gray;
  display: inline-block;
  box-sizing: border-box;
}


/* サイドバー */

.search_form{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 3px 10px;
  margin-bottom: 30px;
  border-radius: 20px;
  height: 2.3em;
  overflow: hidden;
}

.search_input{
  border: none;
  height: 2.0em;
  width: calc(100% - 2.5em);
}

.search_input:focus {
  outline: 0;
}

.search_btn{
  cursor: pointer;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #4CACB9 ;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline : none;
}

.side_ber{
  height: 100%;
  width: 20%;
  border-left: double 5px #fae6d2;
  margin-right: 50px;
  margin-bottom: 48px;
  box-sizing: border-box;
  overflow: auto;
  padding: 20px;
  background-color: white;
}

.side_top{
  margin-bottom: 20px;
  font-weight: bold;
}

.word_each{
  margin: 0 15px 20px;
  line-height: 1.2em
}



/* メイン */

.main{
  height: 100%;
  display: flex;
  
}

.main-inner{
  background-color: white;
  margin-bottom: 48px;
}

.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.word__wrapper {
  padding:0 50px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 161px);
}
.index{
  color: #FBAA31;
}

.word {
  width: 100% ;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom:double 1px #fae6d2;
}
.word__tug {
  width: 25px;
  margin-bottom: 16px;
}
.word__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}

.date-user{
  display: flex;
  justify-content: space-between;
}

.word__created {
  font-size: 16px;
}

.edit_user{
  display: flex;
}

.index_edit{
  margin-right: 10px;
}

.card__user, .index_edit{
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

/* 詳細ページ */

.show_title{
  margin: 40px 0;
}

.show_tug{
  margin-bottom: 40px;
}

.show_text{
  font-size: 17px;
  margin-bottom: 40px;
}

.updete{
  display: flex;
  justify-content: flex-end;
}


.com_index{
  width: 100% ;
  padding-bottom: 10px;
  border-bottom:double 1px #fae6d2;
  color: #FBAA31;
}

.comments_list{
  width: 100% ;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom:double 1px #fae6d2;
  padding-left: 20px;
}

.comment{
  width: 100% ;
  padding-bottom: 10px;
  border-bottom:double 1px #fae6d2;
}

.comment_body{
  padding: 20px 50px 0;
}

.comment_title{
  margin-bottom: 15px;
  font-size: 17px;
}

.login_word{
  font-size: large;
  padding: 0 50px;
  margin-bottom: 20px
}

.comment_login{
  margin: 10px 60px;
}

.comment_text{
  width: 920px;
  height: 500px;
  font-size: 20px;
  color: black;
}

.message_title{
  font-weight: bold;
  font-size: 20px;
}


.comment_field{
  width: calc(100% - 90px);
  margin: 0 50px;
  font-size: 17px;
}

/* ユーザーページ */
.tub-panel{
  min-height: calc(100vh - 161px);
}

.tab-group{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.tab{
  flex-grow: 1;
  padding:5px;
  list-style:none;
  border:solid 1px #CCC;
  text-align:center;
  cursor:pointer;
}

.panel-group{
  border-top:none;
}

.panel{
  display:none;
}

.tab.is-active{
  background:#FBAA31;
  color:#FFF;
  transition: all 0.2s ease-out;
}

.panel.is-show{
  display:block;
}

.comment_index{
  display: -webkit-box;
  font-size: 17px;
  margin: 8px 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


/* フッター */

.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* エラーメッセージ */

.error-alert {
  display: flex;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}

