/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.body{
  background-color: #e9e9e925;
}

.header {
  
  background: linear-gradient(to bottom right, Tomato, Wheat);
  margin-bottom: 48px;
  padding: 20px 0;
}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 200px;
  font-size: 30px;
  letter-spacing: 0.05em;
  
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #1b0b03;
  text-decoration: none;
  user-select: none;
  border: 1px #1b0b03 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #FF5F17;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #FF5F17;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
  display: flex;
  flex-direction:column;
  align-items: center;
}

.field{
  margin: 10px 0;
}

.input-default {
  width: 25vw;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.actions{
  margin:0 50px 40px;
}


.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #FF5F17;
  border: 1px #FF5F17 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}


.title_form{
  width: 1020px;
  height: 40px;
  font-size: 17px;
}

.tug_form{
  width: 1020px;
  height: 35px;
  font-size: 17px;
}

.text_form{
  width: 1020px;
  height: 500px;
  font-size: 20px;
  color: black;
}


.nav_edit{
  padding: 1em 1em;
  font-size: 0.8em;
  color: #9b9b9b;
  text-decoration: none;
}


/* サイドバー */

.search_form{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 3px 10px;
  margin-bottom: 30px;
  border-radius: 20px;
  height: 2.3em;
  width: 260px;
  overflow: hidden;
}
.search_form input[type="text"]{
  border: none;
  height: 2.0em;
}
.search_form input[type="text"]:focus {
  outline: 0;
}
.search_form input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #4CACB9 ;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline : none;
}


.side_ber{
  height: 100%;
  width: 300px;
  border-left: double 5px #fae6d2;
  margin-right: 50px;
  margin-bottom: 48px;
  box-sizing: border-box;
  overflow: auto;
  padding: 20px;
  background-color: white;
}

.side_top{
  margin-bottom: 20px;
  font-weight: bold;
}

.word_each{
  margin: 0 15px 20px;
  line-height: 1.2em
}


/* メイン */

.main{
  height: 100%;
  display: flex;
  
}

.main-inner{
  background-color: white;
  margin-bottom: 48px;
}

.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.word__wrapper {
  padding:0 50px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 161px);
}
.index{
  color: #FBAA31;
}

.word {
  width: 100% ;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom:double 1px #fae6d2;
}
.word__tug {
  width: 25px;
  margin-bottom: 16px;
}
.word__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}

.date-user{
  display: flex;
  justify-content: space-between;
}

.word__created {
  font-size: 16px;
}
.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

/* 詳細ページ */

.show_title{
  margin: 40px 0;
}

.show_tug{
  margin-bottom: 40px;
}

.show_text{
  font-size: 17px;
  margin-bottom: 40px;
}

.updete{
  display: flex;
  justify-content: flex-end;
}


.com_index{
  width: 100% ;
  padding-bottom: 10px;
  border-bottom:double 1px #fae6d2;
  color: #FBAA31;
}

.comments_list{
  width: 100% ;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom:double 1px #fae6d2;
  padding-left: 20px;
}

.comment{
  width: 100% ;
  padding-bottom: 10px;
  border-bottom:double 1px #fae6d2;
}

.comment_body{
  padding: 20px 50px 0;
}

.comment_title{
  font-size: 20px;
  margin-bottom: 15px;
  font-size: 17px;
}

.login_word{
  font-size: large;
  padding: 0 50px;
  margin-bottom: 20px
}

.comment_login{
  margin: 10px 60px;
}

.comment_text{
  width: 920px;
  height: 500px;
  font-size: 20px;
  color: black;
}

.field{
  margin: 0 50px;
  
}


/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* フッター */

.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* エラーメッセージ */

.error-alert {
  display: flex;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}