<% if user_signed_in? %>
  <% if word.favorites.where(user_id: current_user.id).empty? %>
    <%=link_to word_favorites_path(word.id), class: "btn btn-tag btn-tag--favorite", method: :post, remote: true do %>
      <i class="fas fa-star"></i><div>お気に入り追加</div>
    <% end %>
    <%= word.favorites.count %>
  <% else %>
    <%=link_to word_favorite_path(word.id, word.favorites.ids), class: "btn btn-tag btn-tag--favorited", method: :delete, remote: true do%>
      <i class="fas fa-star"></i><div>お気に入り解除</div>
    <% end %>
    <%= word.favorites.count %>
  <% end %>
<% end %>