<div class="side_ber" >
  <div class="side_inner">
    <p class="side_top">カラム一覧</p>
      <ul class="word_index">
        <% words.each do |word| %>
        <li class="word_each">
          <%= link_to word.title, word_path(word.id) %>
        <% end %>
        </li>
      </ul>
  </div>
</div>